.logoTitle {
  max-width: 40%;
}

.textBlockIcon {
  color: var(--secondary);
  font-size: 3rem;
}

.textBlockTitle {
  color: var(--white);
  font-size: 3rem;
  text-transform: uppercase;
}

.textBlockIconInverted {
  color: var(--primary);
  font-size: 3rem;
  text-transform: uppercase;
}

.textBlockTitleInverted {
  color: var(--primary);
  font-size: 3rem;
}
