.image {
  max-width: 40%;
}

.aboutPageTitle {
  display: flex;
  gap: 3em;
  align-items: center;
  justify-content: center;
}

.aboutPageTitle h1 {
  font-size: 5rem;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 0.5rem;
}

.pageTitleAndLogo {
  display: inherit;
  align-items: center;
  gap: 3rem;
  flex-direction: column;
  /* background-color: white; */
}

.logoPageTitle {
  max-width: 40%;
}

.textBlockTitle {
  text-transform: uppercase;
}
