/* .homePage {
  background-color: var(--primary);
} */

.hero-titles_main-title {
  font-size: clamp(30px, 8vw, 87px);
  width: max(16ch);
}

.hero-titles_second-title {
  font-size: clamp(15px, 8vw, 60px);
  width: max(14ch);
}

.hero-titles_wrapper {
  display: inherit;
  flex-direction: inherit;
  gap: 3rem;
  width: max(90%);
  background-color: var(--primary);
}

.text-blocks_home-page {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  width: max(90%);
  gap: 4rem;
  margin-inline: auto;
  padding-bottom: 3em;
  border-bottom: 1px solid var(--black);
}
