.homePageTitle {
  position: absolute;
  top: 7%;
  left: 0;
  right: 0%;
  text-transform: uppercase;
  background: linear-gradient(
    to right,
    var(--primary),
    var(--primaryTransparent)
  );

  display: flex;
  flex-direction: column;

  gap: 2rem;
  height: max(30em);
  width: max(100%);
  padding: 10rem 3rem 14.3rem 3rem;
}

.homePageTitle h1 {
  font-size: 4.5rem;
  width: max(19ch);
}

.homePageTitle h2 {
  font-size: 2rem;
  width: max(35ch);
}

.homePage {
  background-color: var(--primary);
}

.homePageTitle h1,
.homePageTitle h2 {
  padding-left: 8rem;
  margin: 0;
}

.homePageTitleBlock {
  background-image: url("../../assets/medical-banner-with-doctor-wearing-face-mask.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: max(100%);
  height: max(80vh);
}

.button {
  width: max(30rem);
  font-size: 2rem;
  text-transform: uppercase;
  font-family: "Lato";
  font-weight: 700;
  padding: 2rem;
  border: 1px solid var(--primary);
  border-radius: 50px;
  color: var(--primary);
  box-shadow: 6px 6px 15px var(--black);
  text-shadow: 5px 5px 10px var(--black);
}

.buttonVisitUnimed {
  margin: 0 auto;
}

.buttonSuccess,
.buttonHomeTitle,
.buttonVisitUnimed {
  background-color: var(--success);
  width: max(30rem);
}

.buttonVisitUnimed,
.buttonDownload {
  width: max(40rem);
}

.buttonHomeTitle {
  width: max(30rem);
  margin: 3em auto 0 6em;
}

.textBlock {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.textBlock p {
  width: max(35ch);
  letter-spacing: 0.1rem;
  margin: 0;
}

.buttonDownload {
  background-color: var(--secondary);
  max-width: 60rem;
  font-size: 1.8rem;
  margin: 0 auto;
}

.textBlock_1 {
  gap: 3rem;
  padding-bottom: 5em;
}

.textBlock_2 {
  gap: 3rem;
  margin: 5em auto;
}

.textBlock_1,
.textBlock_2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  width: max(600px);
  margin-inline: auto;
  margin-top: 5rem;
}

.textBlocks {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  width: max(80%);
  margin-inline: auto;

  border-bottom: 1px solid var(--black);
}

.textBlockTitleContainer {
  display: flex;
  align-items: center;
  gap: 3rem;
  width: max(600px);
  margin-bottom: 3rem;
}

.logoTextBlock {
  max-width: 30%;
}

.logoUnimed {
  max-width: 100%;
}
