/* ANIMATE ON SCROLL */

@keyframes appearFromBottom {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

@keyframes appearFromLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes appearClipPath {
  from {
    opacity: 0;
    clip-path: inset (100% 100% 0 0);
  }
  to {
    opacity: 1;
    clip-path: inset (0 0 0 0);
  }
}

.element_to_animate {
  animation: appearFromBottom linear;
  animation-timeline: vire();
  animation-range: entry 0 cover 40%;
}

/* AUTO ROTATE ELEMENT  */

.autoRotateElement {
  animation: autoRotateAnimation;
  animation-timeline: view();
}

@keyframes autoRotateElement {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* AUTO SHOW ELEMENT  */

.autoShowElement {
  animation: autoShowAnimation both;
  animation-timeline: view(70% 5%);
}

@keyframes autoShowElement {
  from {
    opacity: 0;
    transform: translateY(200px) scale(0.3);
  }

  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

/* AUTO BLUR ELEMENT  */

.autoBlurElement {
  animation: autoBlurAnimation both;
  animation-timeline: view();
}

@keyframes autoBlurElement {
  0% {
    filter: blur(40px);
  }
  45%,
  50% {
    filter: blur(0px);
  }
  100% {
    filter: blur(40px);
  }
}
