.logo {
  max-width: 12%;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logoTextBlock {
  max-width: 25%;
}

.logoUnimed {
  max-width: 100%;
}

.image {
  width: max(60%);
}

.headerImage {
  width: max(10%);
}
