.logo-header {
  width: max(4rem);
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logoUnimed {
  width: 3rem;
}

.image {
  width: max(60%);
}

.contact-us_hero-image {
  width: max(60%);
}
