.button {
  background-color: var(--primary);
  border-radius: 50px;
  box-shadow: 6px 6px 15px var(--black);
  color: var(--black);
  cursor: pointer;
  font-family: "Lato";
  font-size: 2rem;
  font-weight: 700;
  padding: 2rem;
  text-align: center;
  text-shadow: 5px 5px 10px var(--black);
  text-transform: uppercase;
}

.button_call-to-action {
  background-color: var(--success);
  color: var(--primary);
}

.button-wrapper {
  display: inhert;
}

.buttonDownload {
  background-color: var(--secondary);
  font-size: 1.8rem;
  margin: 0 auto;
  width: max(5ch);
}

.buttonVisitUnimed {
  margin: 0 auto;
}

.buttonHomeTitle,
.buttonSuccess,
.buttonVisitUnimed {
  background-color: var(--success);
  width: max(30rem);
}

.buttonDownload,
.buttonVisitUnimed {
  width: max(40rem);
}
