.text_block {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-inline: auto;
}

.textBlocksRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
}

.textBlockIcon {
  padding-left: 22em;
}

.textBlockAbout,
.textBlockAboutInverted {
  display: flex;
  flex-direction: row;
}

.textBlockAbout {
  color: var(--primary);
}

.textBlockAboutInverted {
  background-color: var(--secondary);
  color: var(--primary);
  margin: 0;
}

.textBlocksRow p {
  width: max(40ch);
  letter-spacing: 0.1rem;
  margin: 0;
}

.textBlockAbout p {
  width: max(60ch);
  letter-spacing: 0.1rem;
  margin: 0;
}

.textBlockAboutColumn {
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-inline: auto;
}

.textBlockInverted {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-inline: auto;
  background-color: var(--secondary);
}

.textBlockAboutInverted p {
  width: max(70ch);
  margin-right: 1rem;
}

.textBlock p {
  width: max(45ch);
  letter-spacing: 0.1rem;
  margin: 0;
}

/* .textBlockTitleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  width: max(400px);
} */

.textBlocksRow .textBlockTitleContainer {
  padding: 0;
}

.text_block_title {
  margin-inline: auto;
}

.textBlock p,
.text_block_title,
.textBlockTitleContainer {
  margin-inline: auto;
}

.textBlocksSection {
  display: flex;
  flex-direction: column;
  width: max(80%);
  gap: 5rem;
  grid-template-columns: repeat(auto-fit, minmax(800px, 1fr));
  margin-inline: auto;
  border-bottom: 1px solid var(--black);
}

/* NEW STYLES AND CLASSES BELOW */

.title_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: max(100%);
}

.text_blocks_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  width: max(80%);
  margin-inline: auto;
  padding-bottom: 3em;
  border-bottom: 1px solid var(--black);
}

.info_container_large_inverted {
  display: flex;
  gap: 1rem;
  color: var(--black);
  background-color: var(--primary);
}

.info_container_large_inverted p {
  width: max(70ch);
  margin-right: 1rem;
}

.key_services_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(800px, 1fr));
}
