.hero-titles_main-title {
  font-size: clamp(30px, 8vw, 70px);
  width: max(27ch);
}

.hero-titles_second-title {
  font-size: clamp(15px, 8vw, 50px);
  width: max(40ch);
}

.hero-titles_wrapper {
  display: inherit;
  flex-direction: inherit;
  gap: 3rem;
  width: max(90%);
  padding-left: 10em;
  margin-inline: auto;
  padding-top: 8rem;
  /* background-color: var(--secondary); */
}

.hero-titles_wrapper::after {
  content: "";
  background: linear-gradient(
    to bottom,
    var(--primary),
    80%,
    var(--primaryTransparent)
  );
  width: max(100%);
  height: max(100%);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.hero-wrapper {
  height: max(100%);
  margin-bottom: 6rem;
  width: max(100%);
  /* background-color: chartreuse; */
}

.hero-backgroundImage_home-page {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: inherit;
}

.hero-wrapper_home-page {
  background-image: url("../assets/repairing_electrical_equipment.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: max(92vh);
  width: max(100%);
  isolation: isolate;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.hero-content_wrapper__home-page::after {
  content: "";
  background: linear-gradient(to top, var(--primary), 10%, transparent);
  width: max(100%);
  height: max(100%);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.hero-wrapper_about-page {
  background: linear-gradient(to right, var(--secondary), 10%, var(--primary));
}

.hero-content_wrapper__home-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  height: max(100%);
  width: max(90vw); /* 
  background-color: chartreuse; */
}

.hero-content_wrapper__about-page {
  align-items: center;
  display: flex;
  height: max(100%);
  justify-content: space-around;
}

.hero-title {
  font-size: 10rem;
  margin-block: 8rem;
  text-transform: uppercase;
}

.hero-title_container__about-page {
  display: flex;
  gap: 4em;
}

.hero-logo_medizone {
  width: max(30%);
}
