.hero-titles_main-title {
  font-size: clamp(1rem, 8vw, 4.5rem);
  width: max(27ch);
  /* background-color: blueviolet; */
  grid-area: mainTitle;
  line-height: 1.3em;
  margin-left: 6rem;
  color: var(--primary);
  margin-block: auto;
}

.hero-titles_second-title {
  font-size: clamp(1rem, 8vw, 3rem);
  width: max(33ch);
  /* background-color: pink; */
  grid-area: secondTitle;
  font-style: italic;
  color: var(--gray_dark);
  margin-left: 6rem;
  margin-block: auto;
}

.hero-titles_wrapper {
  display: inherit;
  flex-direction: inherit;
  gap: 3rem;
  width: max(90%);
  padding-left: 10em;
  margin-inline: auto;
  padding-top: 8rem;

  /* background-color: var(--secondary); */
}

.hero-titles_wrapper::after {
  content: "";
  /* background: linear-gradient(
    to bottom,
    var(--primary),
    80%,
    var(--primaryTransparent)
  ); */
  width: max(100%);
  height: max(100%);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.hero-wrapper {
  height: max(100%);
  margin-bottom: 6rem;
  width: max(100%);
  /* background-color: chartreuse; */
}

.home-page_hero_image {
  grid-area: homeHeroImage;
  height: max(100%);
  transform: scaleX(-1);
  justify-self: end;
  border-radius: 1rem 0 0 1rem;
}

.hero-wrapper_home-page {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
    ".                    homeHeroImage"
    "mainTitle            homeHeroImage"
    "secondTitle          homeHeroImage"
    "cta    homeHeroImage"
    ".                    homeHeroImage";
  height: max(92vh);
  width: 100%;
  display: grid;
  background-color: var(--secondary);
  border: 0.4rem solid var(--primary);
  border-radius: 1.3rem;
}

.hero-content_wrapper__home-page::after {
  content: "";
  background: linear-gradient(to top, var(--primary), 10%, transparent);
  width: max(100%);
  height: max(100%);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.hero-wrapper_about-page {
  background: linear-gradient(to right, var(--secondary), 10%, var(--primary));
}

.hero-content_wrapper__home-page {
  align-items: center;

  flex-direction: column;
  margin: auto;
  height: max(100%);
  width: max(90vw); /* 
  background-color: chartreuse; */
}

.hero-content_wrapper__about-page {
  align-items: center;
  display: flex;
  height: max(100%);
  justify-content: space-around;
}

.hero-title {
  font-size: 10rem;
  margin-block: 8rem;
  text-transform: uppercase;
}

.hero-title_container__about-page {
  display: flex;
  gap: 4em;
}

.hero-logo_medizone {
  width: max(30%);
}
