.keyServices-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 6em;
}

.keyServices-container_item {
  width: max(16em);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-inline: auto;
  gap: 1rem;

  /* background-color: blueviolet; */
}

.keyServices-container_items {
  display: flex;
  gap: 10rem;
  width: max(90%);
  margin-block: 4em;
}

.keyServices-container_title {
  font-size: 6rem;
  text-transform: uppercase;
  text-align: center;
  margin-block: 3rem;
}

.keyServices-container_item-icon {
  font-size: 5rem;
  color: var(--secondary);
}

.keyServices-container_item-text {
  font-size: 2rem;
}
