@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"); */

:root {
  --primary: rgb(255, 255, 255);
  --primaryTransparent: rgba(255, 255, 255, 0.1);
  --primaryTransparentPanelTitle: rgba(255, 255, 255, 0.7);
  /* --primaryTransparentNav: rgba(255, 255, 255, 0.3); */
  --secondary: rgb(35, 166, 217);
  --secondaryTransparent: rgb(35, 166, 217, 0.2);
  --tertiary: rgb(35, 140, 209);
  --success: rgb(97, 219, 114);
  --error: rgb(219, 60, 55);
  --black: rgb(0, 0, 0);
  --gray: rgb(155, 155, 155);
  --gray_light: rgb(245, 245, 245);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Lato", arial;
  background-color: var(--primary);
  font-size: 16px;
  /* scroll-behavior: smooth; */
}

body {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  /* background-color: var(--primary); */
  width: min(100%);
  height: min(100%);
  gap: 2em;
}

.main_home {
  position: relative;
  z-index: 1;
  isolation: isolate;
}

.pageTitle {
  text-align: center;
}

br {
  content: "";
  width: max(80%);
  margin-inline: auto;
  border: 1px solid var(--gray);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

p {
  font-size: 1.5rem;
  font-family: arial, sans-serif;
  line-height: 1.3;
}

a {
  text-decoration: none;
}
