/* NEW STYLES AND CLASSES BELOW */

.info_container_large_inverted {
  display: flex;
  gap: 1rem;
  color: var(--black);
  background-color: var(--primary);
}

.info_container_large_inverted p {
  width: max(70ch);
  margin-right: 1rem;
}

.textblocks_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
}
