.repair-info_container {
  background-color: var(--secondary);
  margin-bottom: 6em;
  gap: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2em;
  padding-bottom: 1.5em;
  width: max(100%);
}

.repair-info {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.repair-info_text {
  color: var(--primary);
  width: max(100%);
  margin: 0;
}

.repair-page_title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10em;
  background-color: var(--secondary);
  padding-block: 1rem;
}

.repair-page_title-container h1 {
  font-size: 3rem;
  word-spacing: 0.8rem;
  text-transform: uppercase;
}

.repair-page_info-container {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  align-items: center;
  background-color: var(--gray_light);
  gap: 1.5rem;

  padding-bottom: 3rem;
  margin-bottom: 4em;
}

.repair-page_info-container h2 {
  font-size: 1.8rem;

  text-transform: uppercase;
  margin-bottom: 1rem;
  letter-spacing: 0.15rem;
  word-spacing: 0.8rem;
}

.repair-page_text-container {
  width: max(65ch);
  word-spacing: 0.2rem;
  margin: 0;
  letter-spacing: 0.1rem;
}

/* grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); */
