.points-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(500px, 1fr));
  min-height: 50vh;
  overflow: hidden;
  padding: 1em 2em 0 2em;
  text-align: center;
}

.servicepoints-container {
  background: radial-gradient(var(--primary), var(--secondary));
}

.point-container {
  align-items: center;
  color: var(--primary);
  display: flex;
  gap: 1em;
  justify-content: center;
  margin: 0 auto;
  width: max(500px);
  position: relative;
}

.servicepoint-container:hover {
  border-radius: 10%;
  transition: 700ms ease;
  background-color: var(--success);
  & .point_arrow {
    color: var(--primary);
  }
}

.point_container:hover {
  transition: 700ms ease;
}

.servicepoint-container:not(hover) {
  transition: 1000ms ease;
}

.point_arrow {
  font-size: 8em;
}

.point_start {
  font-size: 13em;
}

.servicepoint-container {
  background-color: var(--primary);
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  border-radius: 50%;
  box-shadow: 5px 5px 15px var(--black);
  color: var(--black);
  display: flex;
  flex-direction: column;
  height: max(350px);
  justify-content: center;
  margin: 0;
  position: relative;
  width: max(350px);
}

.servicepoint-container_title {
  display: inherit;
  flex-direction: column;
  gap: 1rem;
}

.servicepoint-container_text {
  font-size: 2rem;
  text-transform: uppercase;
}

.servicepoint-container_title {
  font-size: 3rem;
}

.servicepoint-container_overlay {
  background-color: var(--success);
  border-radius: 10%;
  color: var(--primary);
  display: flex;
  gap: 1rem;
  flex-direction: column;
  height: 0;
  left: 50%;
  overflow: hidden;
  margin: auto;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 700ms ease;
  position: absolute;
  width: 0;
}

.servicepoint-container_overlay p {
  width: max(20ch);
}

.servicepoint-container:hover .servicepoint-container_overlay {
  align-items: center;
  border: 2px solid var(--primary);
  display: flex;
  height: 100%;
  width: 100%;
}

.servicepoint-container:not(hover) .servicepoint-container_overlay {
  align-items: center;
  display: flex;
  justify-content: center;
}
